.main__banner{
  position: relative;
  overflow: hidden;
  display: flex;
  gap: 16px;
  width: 333.8px;
  height: 1026px;
  &-line1{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0.2;
    height: 200%;
    .image{
      width: 99px;
      height: 99px;
    }
    .image-big{
      width: 99px;
      height: 220px;
    }
    .move{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      animation: ticker 5s linear infinite;
      img{
        margin-top: 24px;
      }
    }
  }
  &-line2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0.6;
    height: 200%;
    .image{
      width: 99px;
      height: 99px;
    }
    .image-big{
      width: 99px;
      height: 220px;
    }
    .move{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      animation: animation2 5s linear infinite;
      img{
        margin-top: 24px;
      }
    }
  }
  &-line3{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    opacity: 0.4;
    height: 200%;
    .image{
      width: 99px;
      height: 99px;
    }
    .image-big{
      width: 99px;
      height: 220px;
    }
    .move{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      animation: ticker 5s linear infinite;
      img{
        margin-top: 24px;
      }
    }
  }
}

@keyframes ticker {
  0%{
    transform: translateY(0);
  }
  100%{
    transform: translateY(-100%);
  }
}

@keyframes animation2 {
  0%{
    transform: translateY(-100%);
  }
  100%{
    transform: translateY(0);
  }
}

@media screen and (max-width: 1600px){
  .main__banner{
    max-width:315px;
    gap:8px;
    height: 1026px;
    &-line1, &-line2, &-line3{
      width:97px;
      .image{
        width:97px;
        height: 97px;
      }
    }
  }
}

@media screen and (max-width: 1280px){
  .main__banner{
    max-width:265px;
    gap:8px;
    height: 1026px;
    &-line1, &-line2, &-line3{
      width:83px;
      height: 100%;
      .image{
        width:83px;
        height: 83px;
      }
      .image-big{
        width: 83px;
        height: 180px;
      }
    }
  }
}

@media screen and (max-width:768px){
  .main__banner{
    transform: rotate(90deg);
    gap: 8px;
    width: 265px;
    height: 1536px;
    overflow: visible;
    top:-180px;
    &-line1, &-line2, &-line3{
      height: 100%;
    }
  }
}

@media screen and (max-width: 320px){
  .main__banner{
    transform: rotate(90deg);
    gap: 8px;
    width: 165px;
    height: 659px;
    overflow: visible;
    position: absolute ;
    top:70px;
    &-line1, &-line2, &-line3{
      width: 49px;
      height: 100%;
      .image{
        width:49px;
        height: 49px;
      }
      .image-big{
        width: 49px;
        height: 109px;
      }
    }
  }
}