.main {
  max-height: 960px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 140px 0 140px;
}
.main__dot-left {
  width: 226.46px;
  height: 1302.47px;
  position: absolute;
  top: -184.26px;
  left: 306.61px;
  background: linear-gradient(#F947BC 100%, #F9477C 40%);
  transform: rotate(-54.31deg);
  filter: blur(300px);
  opacity: 0.55;
  border-radius: 100%;
}
.main__dot-right {
  width: 574px;
  height: 574px;
  position: absolute;
  top: 570px;
  left: 1505px;
  background: linear-gradient(#F99247 100%, #F29DA2 100%);
  opacity: 0.7;
  filter: blur(300px);
  border-radius: 100%;
}
.main__title {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.main__title .title {
  font-family: "Lexend";
  font-size: 6rem;
  font-weight: 500;
  line-height: 6rem;
  color: #FFFFFF;
  width: 669px;
  margin-bottom: 1.5rem;
}
.main__title .title .colortext {
  color: #F97247;
}
.main__title .description {
  font-family: "Lexend";
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 3rem;
}
.main__title .button-partner {
  width: 265px;
  height: 72px;
  padding: 20px, 72px, 20px, 72px;
  background-color: #F97247;
  border-radius: 48px;
  border: none;
  color: #FFFFFF;
  font-family: "Lexend";
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2rem;
}
.main__blog {
  max-width: 531px;
  width: 100%;
  min-height: 659px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__blog-title {
  font-family: "Lexend";
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 2.5rem;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 24px;
}
.main__blog-conteiner {
  width: 531px;
  height: 595px;
  border: 3px solid #F97247;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 16px;
  padding-top: 24px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #F97247 rgba(255, 255, 255, 0.12);
}
.main__blog-conteiner::-webkit-scrollbar-track {
  height: 500px;
}
.main__blog-conteiner-card {
  display: flex;
  flex-direction: column;
  width: 467px;
  height: 146px;
  border-radius: 196px;
  padding: 16px 64px 16px 64px;
  background-color: rgb(49, 18, 18);
}
.main__blog-conteiner-card .card-text {
  color: #FFFFFF;
  font-family: "Lexend";
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}
.main__blog-conteiner-card .card-date {
  font-family: "Lexend";
  font-size: 0.875rem;
  font-weight: 450;
  line-height: 1rem;
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 320px) {
  .main {
    min-height: 1064px;
    width: 100%;
    flex-direction: column;
    padding: 70px 0;
  }
  .main__dot-left {
    width: 81px;
    height: 466px;
    top: -40px;
    left: 90px;
    filter: blur(40px);
  }
  .main__dot-right {
    width: 240px;
    height: 240px;
    top: 899px;
    left: 177px;
    filter: blur(150px);
  }
  .main__title {
    margin: 0 auto;
    position: absolute;
    left: 10px;
    z-index: 5;
  }
  .main__title .title {
    font-size: 2.875rem;
    line-height: 3.125rem;
    margin-bottom: 0.75rem;
    width: 284px;
  }
  .main__title .description {
    font-size: 1.25rem;
    line-height: 1.625rem;
    margin-bottom: 1.5rem;
  }
  .main__title .button-partner {
    width: 284px;
    height: 53px;
    padding: 15px 20px;
    font-size: 1.125rem;
    line-height: 1.4rem;
  }
  .main__blog {
    position: absolute;
    top: 515px;
    left: 10px;
    max-width: 284px;
    width: 100%;
    min-height: 479px;
  }
  .main__blog-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .main__blog-conteiner {
    width: 284px;
    height: 421px;
  }
  .main__blog-conteiner-card {
    width: 258px;
    height: 112px;
    padding: 15px 35px;
  }
  .main__blog-conteiner-card .card-text {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    margin-bottom: 6px;
  }
  .main__blog-conteiner-card .card-date {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 450;
  }
}/*# sourceMappingURL=main.css.map */