@font-face {
  font-family: "Lexend";
  src: url(/fonts/Lexend/static/Lexend-Regular.ttf) format("truetype");
  font-weight: 400;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.conteiner {
  position: relative;
  max-width: 1920px;
  min-height: 1265px;
  overflow: hidden;
  width: 100%;
  padding-top: 16px;
  background-color: #191D0A;
  margin: 0 auto;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 48px;
    max-width: 1640px;
    width: 100%;
    height: 96px;
    margin: 0 auto;
    border: 4px solid #F97247;
    border-radius: 64px;
    @media screen and (max-width:1600px){
      width: 1400px;
    }
    &__menu{
      max-width: 574px;
      width: 100%;
      &__list{
        list-style-type: none;
        display: flex;
        gap: 32px;
        justify-content: space-between;
        align-items: center;
        margin:0;
        padding: 0;
        &-item{
          &:hover{
            transform: scale(1.1);
          }
          .header-link{
            color: #FFFFFF;
            text-decoration: none;
            font-family: "Lexend";
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.25rem;
          }
        }
      }
    }
    &__buttons{
      max-width: 287px;
      width: 100%;
      height: 48px;
      display: flex;
      gap: 14px;
      .button-language, .button-login, .button-signup{
        color: #FFFFFF;
        font-family: "Lexend";
        font-size: 1rem;
        font-weight: 400;
        border-radius: 24px;
        height:48px;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          transform: scale(1.1);
        }
      }
      .button-language{
        width: 75px;
        gap: 8px;
        border: 2px solid #EBF29D;
      }
      .button-login{
        width: 87px;
        border: 2px solid #EBF29D;
      }
      .button-signup{
        width: 97px;
        background-color: #F97247;
      }
    }
    &__burger{
      display: none;
      width:36px;
      height: 36px;
      padding: 11px 7.5px;
      position: relative;
      .burger-item{
        position: absolute;
        background-color: #FFFFFF;
        width: 21px;
        height: 2px;
      }
      .burger-item:nth-child(2){
        transform: translateY(6px);
      }
      .burger-item:nth-child(3){
        transform: translateY(12px);
      }
    }
    &__burger.open {
      span:nth-child(1){
        transform: translateY(6px) rotate(45deg);
      }
      span:nth-child(3){
        transform: translateY(6px) rotate(-45deg);
      }
      span:nth-child(2){
        opacity: 0;
      }
    }
    &__burger-menu{
      position: absolute;
      top:66px;
      left:0;
      width:100%;
      height: 100vh;
      z-index: 6;
      background-color: #191D0A;
      padding: 30px 18px 0px;
      .burger-menu__list{
        list-style-type: none;
        padding: 0;
        &-item{
          width:284px;
          height: 56px;
          border: 2px solid #F97247;
          border-radius: 64px;
          margin-bottom: 5px;
          padding: 13px 20px;
          &:hover{
            cursor: pointer;
            .list-item-link{
              color:#F97247;
            }
          }
          .list-item-link{
            text-decoration: none;
            color: #FFFFFF;
            font-family: "Lexend";
            font-size: 1.125rem;
            line-height: 1.5rem;
            
          }
        }
      }
      .burger-menu__button-login, .burger-menu__button-signup{
        width:284px;
        height: 46px;
        border-radius: 24px;
        padding: 13px 20px;
        color: #FFFFFF;
        font-family: "Lexend";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.25rem;
        text-align: center;
        margin-bottom: 5px;
        &:hover{
          cursor: pointer;
        }
      }
      .burger-menu__button-login{
        background-color: #311212;
        border: 2px solid #EBF29D;
        &:hover{
          background-color: #4e1d1d;
        }
      }
      .burger-menu__button-signup{
        background-color: #F97247;
        &:hover{
          background-color: #fa805b;
        }
      }
    }
    .hidden{
      display:none;
    }
    .visible{
      display: block;
    }
    
  }
}

@media screen and (max-width:1600px){
  
}


@media screen and (max-width: 320px){
  .conteiner{
    width: 100%;
    padding-top: 10px;
    min-height: 1438px;
    .header{
      padding: 10px 14px;
      width: 284px;
      height: 56px;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
      border-width: 2px;
      &__menu{
        display: none;
      }
      &__buttons{
        width: 100%;
        align-items: center;
        width: 36px;
        height: 36px;
        .button-language {
          width: 36px;
          height: 36px;
          border-radius: 100%;
          img{
            width: 20px;
            height: 20px;
          }
          span{
            display: none;
          }
        }
        .button-login, .button-signup{
          display: none;
        }
      }
      &__burger{
        display: block;
      }
    }
  }
}